<%- include('partials/header') %>

<section class="projects container">
  <header>
    <h1 class="fw-bolder text-dark" style="padding-top: 1rem">Projects</h1>
  </header>
  <div class="tasks-container grid">
    <%- include("partials/taskCard", {taskState:"New task",}) %>
    <%- include("partials/taskCard", {taskState:"In progress"}) %>
    <%- include("partials/taskCard", {taskState:"Completed tasks"}) %>
    
    
</section>
<%- include('partials/footer') %>
